.wp-block-custom-blocks-toolkit-latest-posts {
	word-break: break-word;

	ul {
		padding: 0;
		margin: 0;
		list-style: none;
		display: grid;
		gap: 30px;
		grid-template-columns: repeat(
			var(--posts-per-column),
			calc(100% / var(--posts-per-column))
		);
		@media (width <= 1400px) {
			grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
		}

		img {
			max-width: 100%;
			height: auto;
		}

		:is(img, h4, a, p) {
			margin: 0 0 10px;
		}

		.title {
			display: -webkit-box;
			-webkit-line-clamp: 2;
			-webkit-box-orient: vertical;
			overflow: hidden;
		}

		.category {
			display: -webkit-box;
			-webkit-line-clamp: 1;
			-webkit-box-orient: vertical;
			overflow: hidden;
		}

		a {
			color: currentColor;
		}
	}
}
